*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
}

/* ===== Body ===== */
body{
  background-color: #EEEEEE;
}

/* ===== Nav Bar ===== */
.navbar{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  height: 100vh;
  width: 15%;
  max-width: 200px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  padding: 30px 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px;

  position: fixed;
  background-color: white;

    > div{
      width: 100%;
      // background-color: rgba(0, 0, 0, 0.1);
    }
    .nav-logo{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      // margin-bottom: 30px;
      cursor: pointer;
      padding-right: 10px;

      .logo{
        width: 25%;
      }
      .tracked{
        width: 75%;
      }
    }
    // ===== Each dashboard navigation section =====
    .nav-links-div{
      margin-bottom: 30px;


      &:last-of-type{
        margin-bottom: 0;
      }

      // ===== Title of each dashboard navigation section =====
      .nav-titles{ 
        font-size: var(--font-size-smaller-caption);
        font-weight: 600;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.6);
        margin-bottom: 10px;
      }

      // ===== The nav links themselves =====
      .nav-links{
        text-decoration: none;
        color: black;
        transition: all 0.15s ease-in-out;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 10px 0;
        margin-top: 3px;
        
        width: calc(100% + 20px);
        transform: translateX(-10px);
        
        &.active{
          color: white;
          background-color: #371CEF;

          &:hover{
            color: white;
            background-color: #371CEF;
          }
        }

        .nav-icons{
          padding: 0 10px 0 25px;
        }

        &:hover{
          color: #371CEF;
          background-color: #EEEEEE;
        }
      }



    }

    // ===== Bottom of nav bar - Profile =====
    .ads{
      padding: 120px 0;
      border-radius: 5px;
      // background-color: rgba(0, 0, 0, 0.1);
      margin-bottom: 10px;
    }

    .settings{
      margin-bottom: 0;
    }
    .horizontal-line{
      height: 1px;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.1);
      margin: 10px 0;
    }
    .profile-div{
      position: relative;
      margin-top: 20px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
      .user-picture{
        margin-bottom: 5px;

        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        img{
          height: 50px;
          width: 50px;
          object-fit: cover;
          border-radius: 50%;
        }
      }

      .user-info{
        text-align: center;
        .smaller-caption{
          line-height: 1em;
        }
      }

      .profile-edit{
        position: absolute;
        top: 0;
        right: 0;
        width: 30px;
        height: 30px;
        text-align: center;
        border-radius: 50%;
        transition: all 0.15s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;

        &:hover{
          background-color: rgba(0, 0, 0, 0.05);
          color: #371CEF;
        }
      }

      .bold{
        font-weight: 600;
      }
    }


}

/* ===== All Components ===== */
.component{
  padding: 30px 20px 30px 220px;

  .search{
    padding: 35px 0;
  }
}