*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

/* ===== Body ===== */
body{
  background-color: #EDF0F1;
}


.typography{
  height: 100vh;
}

/* ===== Content Div - holds navbar & main content ===== */
.content{
  display: flex;
}

/* ===== Nav Bar ===== */
.navbar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  height: 100vh;
  width: 120px;
  border-right: .5px solid grey;

  position: fixed;
  top: 0;
}

/* ===== Planner, Tracker & Dashboard Components ===== */
.component{
  height: 100%;
  width: 100%;
  padding: 10px 20px 10px 140px;
}