.dashboard-title-filter{

    display: flex;
    justify-content: space-between;
    align-items: center;

    // filters
    .dashboard-filters{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .filter{
        padding-right: 10px;
        select{
            font-size: var(--font-size-caption);
            background-color: #371CEF;
            border: 1px solid #371CEF;
            color: white;

            padding: 10px 15px;
            border-radius: 5px;
            cursor: pointer;
            transition: all 0.15s ease-in-out;

            font-weight: 600 ;
            appearance: none;

            &:hover{
                color: #371CEF;
                background-color: white;
            }

        }
        &:last-of-type{
            padding-right: 0px;
        }
    }
}

.dashboard-cards-container{
    display: flex;
    justify-content: flex-start;
    margin: 30px 0;

    .card{
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin-right: 15px;
        border-radius: 5px;
        width: 100%;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px;
        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        > div:first-of-type{
            margin: 5px 0 15px 0;
        }

        .caption{
            font-weight: 600;
        }

        .amount{
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .headers{
                font-weight: 600;
            }
        }

        .smaller-caption{
            color: rgba(0, 0, 0, 0.5);
        }

        &:last-of-type{
            margin-right: 0;
        }

        .card-icons{
            height: 1.5em;
            border-radius: 5px;
            padding: 5px;
            color: black;
        }
    }
}

.dashboard-body-container{

    // .dashboard-inner-flex{
    //     display: flex;
    //     justify-content: space-between;
    //     margin-bottom: 30px;

    //     &:last-of-type{
    //         margin-bottom: 0;
    //     }
    // }

    // .dashboard-pie-charts{
    //     width: 25%;
    //     margin-right: 15px;
    //     min-height: 200px;

    //     .pie-chart{
    //         width: 100%;
    //         height: 100%;
    //         border: 1px solid rgba(0, 0, 0, 0.1);
    //         border-radius: 5px;
    //         background-color: white;
    //         box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px;
    //     }
    // }

    .table-container{
        
        width: 100%;
        margin-bottom: 30px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px;

        &:last-of-type{
            margin-bottom: 0;
        }

        table{
            width: 100%;
            border-collapse: collapse;
            display: block;
            
            tr{
                display: flex;
                align-items: center;
                padding: 10px 20px;
                width: 100%;
            }

            tbody,
            tfoot{
                width: 100%;
                display: block;
            }

            .table-title{
                padding: 15px 20px;
                p{
                    font-weight: 600;
                }
            }

            .table-headers{
                background-color: rgba(0, 0, 0, 0.1);
                padding: 10px 20px; 
                border-top: 1px solid rgba(0, 0, 0, 0.05);
                border-bottom: 1px solid rgba(0, 0, 0, 0.05);

                td{
                    font-weight: 600;
                    color: rgba(0, 0, 0, 0.5);;
                }
            }

            tbody tr{
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            }

            tfoot tr{
                padding: 20px;
            }


            .table-headers td:nth-of-type(1),
            tbody tr td:nth-of-type(1),
            tfoot tr td:nth-of-type(1){
                width: 25%;
            }
            tbody tr td:nth-of-type(1){
                font-weight: 600;
            }

            .table-headers td:nth-of-type(2),
            tbody tr td:nth-of-type(2),
            tfoot tr td:nth-of-type(2){
                width: 15%;
                text-align: left;
            }

            .table-headers td:nth-of-type(3),
            tbody tr td:nth-of-type(3),
            tfoot tr td:nth-of-type(3){
                width: 15%;
                text-align: left;
            }

            .table-headers td:nth-of-type(4),
            tbody tr td:nth-of-type(4),
            tfoot tr td:nth-of-type(4){
                width: 25%;
                text-align: center;
            }

            .table-headers td:nth-of-type(5),
            tbody tr td:nth-of-type(5),
            tfoot tr td:nth-of-type(5){
                width: 10%;
                text-align: right;
            }

            .table-headers td:nth-of-type(6),
            tbody tr td:nth-of-type(6),
            tfoot tr td:nth-of-type(6){
                width: 10%;
                text-align: right;
            }



        }

        .td-percentage{
            position: relative; 
            overflow: hidden;
            background-color: rgba(0, 0, 0, 0.1);
            border-radius: 50px;
            z-index: 0;

            display: flex;
            justify-content: center;
            align-items: center;

            height: 15px;

            > p{
                // color: rgba(0, 0, 0, 0.5);
                color: white;
                z-index: 2;
                position: inherit;
            }

            .td-percentage-progress-bar{
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                z-index: 1;
                background-color: #4E4FEB;
                border-radius: 50px;
            }
        }
    }

    .Expenses{
        .category_exceeded{
            background-color: rgba(255, 0, 0, 0.05);
            color: red;
            // font-weight: 600;

            .td-percentage-progress-bar{
                background-color: #dc3e3e;
            }
        }
    }

}


