// DASHBOARD CARDS
.dashboard-cards-container{
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;

    .card{
        border: 1px solid black;
        padding: 15px 20px;
        margin-right: 40px;
        border-radius: 12px;

        .card-flex{
            display: flex;
            justify-content: space-between;
            align-items: center;

            div{
                text-align: elft
                ;
            }
            
            .caption{
                line-height: normal;
            }
        }
    }
    .card:last-of-type{
        margin-right: 0px;
    }


    // filters
    .filter{
        margin-bottom: 10px;

        select{
            font-size: var(--font-size-caption);
        }
    }
    .filter:last-of-type{
        margin-bottom:  0;
    }
}

.dashboard-body-container{

    margin-top: 30px;
    

    // body
    .dashboard-table-type{
        margin-bottom: 20px;
        border-collapse: collapse;
        border: .75px solid black;
        width: 70%;
        
        &:last-of-type{
            margin-bottom: 0;
        }

        thead{
            color: white;
        }

        tbody tr td:first-of-type{
            padding-left: 10px;
        }
        .td-percentage{
            position: relative; 
            overflow: hidden;
            .td-percentage-progress-bar{
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                z-index: -1;
            }
        }
        .category_exceeded{
            background-color: rgba(255, 0, 0, 0.05);
        }

        tr{
            border: 0.5px solid grey;
        }
        td{
            border: 0.5px solid grey;
            padding: 3px 5px;
            
            &:nth-of-type(1){
                width: 25%;
            }
            &:nth-of-type(2){
                width: 15%;
                text-align: right;
            }
            &:nth-of-type(3){
                width: 15%;
                text-align: right;
            }
            &:nth-of-type(4){
                width: 15%;
                text-align: center;
            }
            &:nth-of-type(5){
                width: 15%;
                text-align: right;
            }
            &:nth-of-type(6){
                width: 15%;
                text-align: right;
            }
        }
    }

    // header colors
    .dashboard-table-type:nth-of-type(1){
        & thead{
            background-color: #239A5A;
        }
        & tbody .td-percentage-progress-bar{
            background-color: hsla(148, 63%, 37%, 0.2);
        }
    }
    .dashboard-table-type:nth-of-type(2){
        & thead{
            background-color: #286DEF;
        }
        & tbody .td-percentage-progress-bar{
            background-color: hsla(219, 86%, 55%, 0.2);
        }
    }
    .dashboard-table-type:nth-of-type(3){
        & thead{
            background-color: #FA0071;
        }
        & tbody .td-percentage-progress-bar{
            background-color: hsla(333, 100%, 49%, 0.2);
        }
    }
    .dashboard-table-type:nth-of-type(4){
        & thead{
            background-color: #FA0071;
        }
        & tbody .td-percentage-progress-bar{
            background-color: hsla(333, 100%, 49%, 0.2);
        }
    }

}


