.tables-wrapper{
    margin-top: 10px;
}

.types-table{

    thead{
        background-color: rgba(128, 128, 128, 0.5);
        .empty-td{
            background-color: white;
        }
    }

    border-collapse: collapse;
    margin-top: 50px;
    margin-bottom: 10px;

    &:first-of-type{
        margin-top: 0;
    }
    &:last-of-type{
        margin-bottom: 0;
    }

    td{
        border: 0.25px solid black;
        padding: 0 5px;

        &.row-headers{
            min-width: 250px;

            &.categories{
                padding: 0 0 0 10px;
            }

        }

        &.empty-td{
            min-width: 20px;
            border: none;
        }
    }
}


.btn{
    cursor: pointer;
}
