.planner-cards-container{
    display: flex;
    justify-content: flex-start;
    margin: 30px 0;

    .card{

        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin-right: 15px;
        border-radius: 5px;
        width: 100%;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px;
        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        > div:first-of-type{
            margin: 5px 0 15px 0;
        }

        .caption, .headers{
            font-weight: 600;
        }

        .smaller-caption{
            color: rgba(0, 0, 0, 0.5);
        }

        &:last-of-type{
            margin-right: 0;
        }

        .card-icons{
            height: 1.5em;
            border-radius: 5px;
            padding: 5px;
            color: black;
        }
    }
    .card:last-of-type{
        margin-right: 0px;
    }

}

.planner-table-container{
    background-color: white;
    width: calc(100% / 2);

    .types-table{
        // outline: 1px solid red;
        width: 100%;
        border-collapse: collapse;
        display: block;

        tr{
            display: flex;
            align-items: center;
            width: 100%;
            border: .5px solid rgba(0, 0, 0, 0.2);
            transition: all 0.1s ease-in-out;

            &:hover{
                background-color: rgba(0, 0, 0, 0.05);
            }
        }
        td{
            padding: 10px 0px;
        }
        tbody,
        tfoot{
            width: 100%;
            display: block;
        }
        .table-title{
            padding: 15px 20px;
            p{
                font-weight: 600;
            }

            &:hover{
                background-color: transparent;
            }
        }
        .table-headers{
            background-color: rgba(0, 0, 0, 0.1);
            padding: 10px 20px; 

            td{
                font-weight: 600;
                color: rgba(0, 0, 0, 0.5);
            }
            td:nth-of-type(1){ // categories
                width: 50%;
                padding-left: 5px;
            }
            td:nth-of-type(2){ // budget
                width: 25%;
                padding-left: 5px;
            }
            td:nth-of-type(3){ // actions
                width: 25%;
                padding-left: 5px;
                text-align: center;
            }

            &:hover{
                background-color: rgba(0, 0, 0, 0.1);
            }
        }
        tbody{

            td:nth-of-type(1){ // categories
                width: 50%;
                padding-left: 25px;
            }
            td:nth-of-type(2){ // budget
                width: 25%;
                padding-left: 5px;
            }
            td:nth-of-type(3){ // actions
                width: calc(25% / 2);
                padding-left: 5px;
            }
            td:nth-of-type(4){ // actions
                width: calc(25% / 2);
                padding-left: 5px;
            }
        }



        
    }
}




// .planner-table-container{
    
//     width: 50%;
//     margin-bottom: 30px;
//     border: 1px solid rgba(0, 0, 0, 0.1);
//     border-radius: 5px;
//     background-color: white;
//     box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px;

//     &:last-of-type{
//         margin-bottom: 0;
//     }

//     .types-table{
//         width: 100%;
//         border-collapse: collapse;
//         display: block;

//         &:last-of-type{
//             margin-bottom: 0;
//         }

//         tr{
//             display: flex;
//             align-items: center;
//             width: 100%;
//             border: .5px solid rgba(0, 0, 0, 0.2);
//             transition: all 0.1s ease-in-out;

//             &:hover{
//                 background-color: rgba(0, 0, 0, 0.05);
//             }
//         }
//         td{
//             // border-left: 1px solid red;
//             // border-right: 1px solid red;
//         }
//         tbody,
//         tfoot{
//             width: 100%;
//             display: block;
//         }


//         .table-headers{
//             background-color: rgba(0, 0, 0, 0.1);
//             padding: 10px 20px; 

//             td{
//                 font-weight: 600;
//                 color: rgba(0, 0, 0, 0.5);
//             }

//             &:hover{
//                 background-color: rgba(0, 0, 0, 0.1);
//             }
//         }
//         tbody{
//             tr{
//                 padding: 0px 20px;
//             }
//             td{
//                 padding: 2px 0;
//             }
//         }
//     }


// }

// .types-table{

//     border-collapse: collapse;
//     margin-top: 50px;
//     margin-bottom: 10px;

//     &:first-of-type{
//         margin-top: 0;
//     }

//     thead{
//         background-color: rgba(0, 0, 0, 0.2); // header background color
//     }
//     tr, td{
//         border: .5px solid rgba(0, 0, 0, 0.5);
//         padding: 0 5px;
//     }

//     td{
//         &.row-headers:nth-of-type(1){
//             min-width: 250px;
//         }
//         &.row-headers:nth-of-type(2){
//             min-width: 100px;
//         }
//         &:nth-of-type(3){ // edit button
//             text-align: center;
//             cursor: pointer;
//             transition: all 0.1s ease-in-out;
    
//             &:hover{
//                 background-color: rgba(0, 0, 0, 0.2);
//             }
//         }
//         &:nth-of-type(4){ // delete button
//             text-align: center;
//             cursor: pointer;
//             transition: all 0.1s ease-in-out;
    
//             &:hover{
//                 background-color: rgba(0, 0, 0, 0.2);
//             }
//         }
//     }


//     tr, td{
//         border: .5px solid rgba(0, 0, 0, 0.5);
//     }
//     thead tr:nth-of-type(1){
//         background-color: rgba(0, 0, 0, 0.2); // header background color
//     }
//     tr:hover{
//         background-color: rgba(0, 0, 0, 0.2); // row hover background color change
//     }
// }


// .btn{
//     cursor: pointer;

//     &.btn-add-category{
//         padding: 0 7px;
//         margin-right: 5px;
//         border: .5px solid black;
//         border-radius: 50%;
//         background-color: transparent;
//     }
// }
// .add-category-div{
//     &:hover{
//         cursor: pointer;
//         .btn-add-category{
//             background-color: rgba(0, 0, 0, 0.2);
//         }
//     }
// }

// .form-add-category{
//     display: flex;
// }


