$record_date_width: 7%;
$type_name_width: 13%;
$category_name_width: 20%;
$amount_width: 7%;
$details_width: 45%;
$edit_width: 4%;
$delete_width: 4%;


// TRACKER CARDS
.tracker-cards-container{
    display: flex;
    justify-content: flex-start;
    margin: 30px 0;

    .card{

        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin-right: 15px;
        border-radius: 5px;
        width: 100%;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px;
        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        > div:first-of-type{
            margin: 5px 0 15px 0;
        }

        .caption, .headers{
            font-weight: 600;
        }

        .smaller-caption{
            color: rgba(0, 0, 0, 0.5);
        }

        &:last-of-type{
            margin-right: 0;
        }

        .card-icons{
            height: 1.5em;
            border-radius: 5px;
            padding: 5px;
            color: black;
        }
    }
    .card:last-of-type{
        margin-right: 0px;
    }

}

// TRACKER BUTTONS - ADD, SUBMIT, UPDATE
.btn-add-record,
.btn-submit-record,
.btn-update-record{

    font-size: var(--font-size-caption);
    background-color: #371CEF;
    border: 1px solid #371CEF;
    color: white;

    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.15s ease-in-out;

    font-weight: 600;
    appearance: none;

    min-width: 150px;

    &:hover{
        color: #371CEF;
        background-color: white;
    }

}
.btn-update-record{
    min-width: 100%;
}


// TRACKER INPUT FORM
.tracker-input-form{

    .tracker-input-form-container{
        display: flex;
    }

    .user-input{

        input, select{
            width: 100%;
            height: 100%;
            font-size: 12.8px;
        }
        
    }

    .type{
        display:flex;
        flex-direction: column;
    }

    .user-input:nth-of-type(1){ // record_date
        width: $record_date_width;
    }
    .user-input:nth-of-type(2){ // type_name
        width: $type_name_width;
    }
    .user-input:nth-of-type(3){ // category_name
        width: $category_name_width;
    }
    .user-input:nth-of-type(4){ // amount
        width: $amount_width
    }
    .user-input:nth-of-type(5){ // details
        width: $details_width
    }
    .message{
        color: red;
    }
}


// Add Button
.btn-add-record{
    margin-bottom: 5px;
}


// TRACKER TABLE
.table-container{

    width: 100%;
    margin-top: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px;

    .tracker-table{

        width: 100%;
        border-collapse: collapse;
        display: block;

        tr{
            display: flex;
            align-items: center;
            width: 100%;
            border: .5px solid rgba(0, 0, 0, 0.2);
            transition: all 0.1s ease-in-out;

            &:hover{
                background-color: rgba(0, 0, 0, 0.05);
            }
        }
        td{
            // border-left: 1px solid red;
            // border-right: 1px solid red;
        }
        tbody,
        tfoot{
            width: 100%;
            display: block;
        }

        .table-title{
            padding: 15px 20px;
            p{
                font-weight: 600;
            }

            &:hover{
                background-color: transparent;
            }
        }
        .table-headers{
            background-color: rgba(0, 0, 0, 0.1);
            padding: 10px 20px; 

            td{
                font-weight: 600;
                color: rgba(0, 0, 0, 0.5);
            }

            td:nth-of-type(6){ // 'actions'
                width: calc($edit_width * 2);
        
                &:hover{
                    background-color: transparent;
                    color: rgba(0, 0, 0, 0.5);
                    cursor: auto;
                }
            }

            &:hover{
                background-color: rgba(0, 0, 0, 0.1);
            }
        }
        tbody{
            tr{
                padding: 0px 20px;
            }
            td{
                padding: 2px 0;
            }
        }
    
        td:nth-of-type(1){ // record_date
            width: $record_date_width;
            padding-left: 5px;
        }
        td:nth-of-type(2){ // type_name
            width: $type_name_width;
            padding-left: 5px;
        }
        td:nth-of-type(3){ // category_name
            width: $category_name_width;
            padding-left: 5px;
        }
        td:nth-of-type(4){ // amount
            width: $amount_width;
            padding-right: 10px;
            text-align: right;
        }
        td:nth-of-type(5){ // details
            width: $details_width;
            padding-left: 10px;
        }
        td:nth-of-type(6){ // edit button
            width: $edit_width;
            text-align: center;
            cursor: pointer;
            transition: all 0.1s ease-in-out;
    
            &:hover{
                background-color: #371CEF;
                color: white;
            }
        }
        td:nth-of-type(7){ // delete button
            width: $edit_width;
            text-align: center;
            cursor: pointer;
            transition: all 0.1s ease-in-out;
    
            &:hover{
                background-color: #371CEF;
                color: white;
            }
        }
    
    
        // UPDATING ROW
        .updating-row{

            display: flex;
            align-items: stretch;
            // border-top: 0.5px solid #371CEF;
            // border-bottom: 0.5px solid #371CEF;

            &:hover{
                background-color: unset;
            }

            td{
                padding: 0px;
            }

            input, select{
                width: 100%;
                height: 100%;
                font-size: 12.8px;
            }

            .updateform-type-select, .updateform-method-select{
                height: 50%;
            }

            td:nth-of-type(6){ // td with update button inside
                width: calc($edit_width * 2);
                background: none;
                padding-left: 10px;
            }

        }
    }

}

